.taskinput__submitbutton{
    color: #97C3F0;
    display: block;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #185EA5;
} 


.taskinput__textarea::placeholder {
  font-size: 18px; /* 👈 Increase font size */
  color: #999;
  font-style: italic;
}

label{
    /* text-align: center; */
    margin-right: 35px;
    /* padding-bottom: 10px; */
    font-size: large;
    /* vertical-align:center; */
    /* margin-bottom: 35px; */
}
.taskinput__textarea{  
  border: 1px solid #185EA5;
  /* border-color: #4393E4; */
  outline: none;
  background-color: black;
  border-radius: 7px;
}
/* className={styles.input-label} */
.taskinput__textarea:focus {
  border: 3px solid #4393E4;
  border-radius: 7px;
}
.form_container{
    display: flex;
    flex-direction: row;
    justify-content: center; 
    /* align-items: center; */
}

.taskinput__submitbutton:hover {
  color: #97C3F0;
  background-color: #12467B;
}